.header {
    height: rem(150px);
    
    background-color: var(--mantine-color-body);
    border-bottom: rem(3px) solid #dbb47b;
  }
  
  .inner {
    height: rem(150px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: black;
    font-size: var(--mantine-font-size-xl);
    font-weight: 500;
  
  
  }
  
  .linkLabel {
    margin-right: rem(5px);
  }